.testElement {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 3em;
    width: 99vw;
    margin-bottom: 2em;
    min-height: 50vh;
    max-height: 70vh;
    overflow: hidden;
    scroll-behavior: smooth;

}
.testElement img {
    min-width: 50%;
    max-width: 55%;
    background-color: #fff;
    border-radius: 3em;

}
.testElement button {
    text-align: center;
}
.testElement h2 {
    margin-bottom: .4em;
}
.contentElement {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    justify-content: center;
    align-items: center;
}

.contentText {
    text-align: justify;
    position: relative;
    overflow: auto;
    padding: .5em;
    max-height: 75%;
    text-align: start;
}

.contentText::-webkit-scrollbar {
    width: .5vw; 
}

.contentText::-webkit-scrollbar-thumb {
    background-color: #464646; 
    direction: ltr;

}
.contentText::-webkit-scrollbar-track {
    background-color: #202020; 
    direction: ltr;

}



@media screen and (max-width: 800px) {
    .testElement {
        flex-direction: column;
        padding: .5em;
        text-align: center;
        min-height: 0;
        max-height: 100vh;
        width: 100%;
        margin-bottom: 2em;
    }    
    .testElement img {
        margin: 0 auto;
        max-height: 50vh;
        max-width: 100%;
    }
    .contentElement {
        padding: .5em;
    }
    .testElement button {
        margin-top: 1em;
        margin-bottom: 0;
    }
    h2{
        text-align: center;
    }
    p {
        text-align: center;
    }
}