.container_firstpage{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-image: url('../../assets/imgs/sven-mieke-MsCgmHuirDo-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    background-color: aqua;
    margin-bottom: 2em;
}
.container_firstpage h1 {
    text-shadow: 1px 1px 2px black;
}
img{
    width: 100%;
}